body {
    padding: 50px;
    background-color: #ffffff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
form {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
label {
    width:100%;
    font-size: 14px;
    font-weight: normal;
}

textarea {
    width: 100%;
    height: 104px;
    font-size: 14px;
    margin: 8px 0;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}
input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 8px 0;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}
[type=button] {
    width: auto;
    font-size: 14px;
    font-weight: bold;
    margin-top: 22px;
    background-color: #0889ea;
    color: white;
    cursor: pointer;
}
[type=button]:hover {
    background-color: #0860ab;
}

#error {
    color: red;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.error {
    background-color: red;
    opacity: 0.4;
}
#map {
    width: 100%;
    height: 600px;
    background-color: grey;
}

